/* GLOBAL STYLES */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
}

body {
    width: 100%;
}

p {
    font-size: 1.6rem;
    color: var(--grayish-violet);
    line-height: 1.6;
}

section {
    padding: 5rem 0;
}

.container {
    width: 100%;
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 2.5rem;
}

/* VARIABLES */
:root {
    --cyan: hsl(180, 66%, 49%);
    --dark-violet: hsl(257, 27%, 26%);
    --gray: hsl(0, 0%, 75%);
    --dark-grey: #EFF1F7;
    --grayish-violet: hsl(260, 7%, 59%);
    --very-dark-blue: hsl(255, 11%, 22%);
    --very-dark-violet: hsl(260, 8%, 14%);
    --white: #fff;
}

/* UTILITY CLASSES */
.u-mb-small {
    margin-bottom: 1.6rem;
}

.u-mb-medium {
    margin-bottom: 3rem;
}

.u-mb-large {
    margin-bottom: 5rem;
}

/******** HEADER SECTION *********/
/******** HEADER SECTION *********/
/******** HEADER SECTION *********/

header {
    width: 100%;
    height: 7.5rem;
    padding: 2.5rem 0;
    background-color: var(--dark-violet);
    position: relative;
}

.logo {
    height: 3.5rem;
    margin-right: 3rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-ul {
    display: flex;
    flex-grow: 1;
}

.nav-ul li {
    /* padding: 0 5px; */
    padding-right: 15px;
    list-style: none;
}

.nav-ul li a,
.login a:first-child {
    font-size: 14px;
    text-decoration: none;
    color: var(--white);
}

.login a:first-child {
    margin-right: 1.5rem;
}

.nav-ul li a:hover,
.login a:hover:first-child {
    color: var(--cyan);
}

.u-login {
    display: none;
}

.btn {
    color: var(--white);
    text-decoration: none;
    background-color: var(--cyan);
    font-size: 1.4rem;
    padding: 1rem 2rem;
    border-radius: 40px;
    opacity: 1;
    transition: all .3s;
}

.btn:hover {
    opacity: .8;
}



/****  INTRO SECTION ****/
/****  INTRO SECTION ****/
/****  INTRO SECTION ****/

.intro-section {
    background-color: var(--gray);
    padding-bottom: 10rem;
    overflow: hidden;
}

.intro {
    display: flex;
    justify-content: space-between;
}

.intro-text {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.intro-text h1 {
    font-size: 5.5rem;
    font-weight: 700;
    line-height: 6rem;
    color: var(--dark-violet);
}

.btn-large {
    font-size: 1.6rem;
    font-weight: 700;
    padding: 1.2rem 3.5rem;
}

.intro-image {
    width: 45%;
}


/**** INPUT, ABOUT AND FEATURE SECTIONS  ******/
/**** INPUT, ABOUT AND FEATURE SECTIONS  ******/
/**** INPUT, ABOUT AND FEATURE SECTIONS  ******/

.input-section {
    background-color: var(--dark-grey);
}

.input-box {
    background-color: var(--dark-violet);
    max-width: 100rem;
    margin: 0 auto;
    padding: 5rem;
    background-image: url(./images/bg-shorten-desktop.svg);
    border: 1px solid transparent;
    border-radius: .5rem;
    transform: translateY(-80%);
}

.input-box form {
    display: flex;
    justify-content: center;
    width: 100%;
}

.input-box input {
    width: 80%;
    padding: 1.5rem;
    font-size: 1.6rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: transparent;
    border-radius: .5rem;
    margin-right: 2rem;
    outline: none;
}

.input-box .link-btn {
    font-size: 1.6rem;
    width: 20%;
    font-weight: 700;
    background-color: var(--cyan);
    color: var(--white);
    border-radius: .5rem;
    cursor: pointer;
    border: transparent;
    outline: none;
    padding: 1.5rem;
}


/******* ABOUT SECTION *******/
.about {
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.about h2 {
    font-size: 4rem;
    font-weight: 700;
    color: var(--dark-violet);
}

.about p {
    padding-bottom: 50px;
}

/**** FEATURES SECTION  ****/

.feature {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
}

.feature::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 30%;
    width: 50%;
    height: 5px;
    background-color: var(--cyan);
    /* z-index: 0; */
}

.feature-box {
    padding: 7rem 3rem 3rem 3rem;
    position: relative;
    background-color: var(--white);
    /* margin-right: 2.5rem; */
    z-index: 1;
}

/* .feature-box:not(:last-child) {
    margin-right: 0rem;
} */

.feature-image {
    display: inline-flex;
    background-color: var(--dark-violet);
    padding: 1.5rem;
    border: 1px solid transparent;
    border-radius: 50%;
    /* transform: translateY(-140%); */
    position: absolute;
    top: -3.5rem;
    left: 2.5rem;
}

.feature-box h3 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.5rem;
    color: var(--dark-violet);
    padding-bottom: 2.5rem;
}

.box-2 {
    margin-top: 3%;
}

.box-3 {
    margin-top: 6%;
}

/***** BOOST SECTION *****/
/***** BOOST SECTION *****/
/***** BOOST SECTION *****/

.boost-section {
    /* height: 15rem; */
    width: 100%;
    background-color: var(--dark-violet);
    position: relative;
    z-index: 1;
}

.boost-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 200rem;
    height: 100%;
    background-image: url(./images/bg-boost-desktop.svg);
    z-index: -1;
}

.boost {
    display: block;
    text-align: center;
    justify-content: center;
    z-index: 1;
}

.boost h2 {
    font-size: 4rem;
    font-weight: 700;
    color: var(--white);
}

.footer-section {
    padding: 5rem 0;
    background-color: var(--very-dark-violet);
}

.footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    row-gap: 4rem;
    /* column-gap: 2rem; */
}

.footer-links {
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.footer-links li {
    padding-bottom: 5px;
}

.footer-icons img {
    padding: 0 2rem .5rem 0;

}









/**********MEDIA QUERIES FOR HEADER SECTION  ****** /
/**********MEDIA QUERIES FOR HEADER SECTION  ******/
/**********MEDIA QUERIES FOR HEADER SECTION  ******/

/* FOR TABLET SIZED DEVICES */

@media screen and (max-width: 985px) { 

     .intro-text {
        width: 50%;
    }   

    .intro-text h1 {
        font-size: 4.5rem;
        line-height: 4.5rem;
    }

    /* ABOUT SECTION */
    .about {
        width: 100%;
    }

    .about h2 {
        font-size: 3rem;
    }

    /**** FEATURE SECTION *****/
    .feature-box {
        padding: 6rem 2rem 3rem 2rem;
    }

    .feature-box:not(:last-child) {
        margin-right: 1.5rem;
    }

}






/* FOR MOBILE SIZED DEVICES */
@media screen and (max-width: 600px) { 
    header {
        height: 8rem;
        padding: 1.6rem 0;
    }

    .login {
        display: none;
    }

    .u-login {
        display: inline-block;
    }


    nav {
        display: flex;
        flex-direction: column;
    }

    .logo {
        margin-bottom: 5px;
    }

    /***** INTRO SECTION  *****/
    /***** INTRO SECTION  *****/
    /***** INTRO SECTION  *****/

    .intro {
        /* display: flex; */
        flex-direction: column-reverse;
    }

    .intro-image {
        padding-bottom: 4rem;
    }

   .intro-text {
       display: block;
       width: 100%;
       text-align: center;
       padding: 2.5rem 0;
   }

   .intro-text h1 {
       font-size: 4rem;
       line-height: 4rem;
   }

    /**** INPUT SECTION  ****/

 .input-box input {
    width: 65%;
    /* padding: 0.3rem 2rem; */
    /* padding: 0.9rem; */

}


.input-box .link-btn {
   width: 35%;
   padding: 0.3rem 0.7rem;
}




   /***** FEATURE SECTION  *****/
   /***** FEATURE SECTION  *****/
   /***** FEATURE SECTION  *****/

   .feature {
       display: flex;
       flex-direction: column;
       text-align: center;
   }

   .feature::after {
    /* content: '';
    position: absolute; */
    top: 20%;
    left: 50%;
    width: 5px;
    height: 50rem;
    background-color: var(--cyan);
    /* z-index: 0; */
}

.feature-box {
    margin-bottom: 8rem;
}

.feature-box:not(:last-child) {
    margin-right: 0;
}

.feature-image {
    left: 50%;
    transform: translateX(-50%);
 }

 .footer {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;
 }
}

/*******  ANIMATION ********/
/*******  ANIMATION ********/
/*******  ANIMATION ********/

@keyframes moveUp {
    0% {
        transform: translateY(100%);
    }
    50% {
        transform: translateY(50%);
    }
    100% {
        transform: translateY(0);
    }
}

.slideUp {
    animation: moveUp .8s 1 linear;
}

